@import "variables";

.pgn__avatar {
  border-radius: var(--pgn-avatar-border-base)-radius;
  border: var(--pgn-avatar-border-base);
  display: inline-block;
  height: var(--pgn-avatar-size-base);
  overflow: hidden;
  width: var(--pgn-avatar-size-base);
  object-fit: cover;

  &.pgn__avatar-xs {
    height: var(--pgn-avatar-size-base)-xs;
    width: var(--pgn-avatar-size-base)-xs;
  }

  &.pgn__avatar-sm {
    height: var(--pgn-avatar-size-base)-sm;
    width: var(--pgn-avatar-size-base)-sm;
  }

  &.pgn__avatar-md {
    height: var(--pgn-avatar-size-base);
    width: var(--pgn-avatar-size-base);
  }

  &.pgn__avatar-lg {
    height: var(--pgn-avatar-size-base)-lg;
    width: var(--pgn-avatar-size-base)-lg;
  }

  &.pgn__avatar-xl {
    height: var(--pgn-avatar-size-base)-xl;
    width: var(--pgn-avatar-size-base)-xl;
  }

  &.pgn__avatar-xxl {
    height: var(--pgn-avatar-size-base)-xxl;
    width: var(--pgn-avatar-size-base)-xxl;
  }

  &.pgn__avatar-huge {
    height: var(--pgn-avatar-size-base)-huge;
    width: var(--pgn-avatar-size-base)-huge;
  }
}
